body {
    color: #f1f1f1;
    background: #121212;
    font-family: "RedHatDisplay", sans-serif;
    display: flex;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;

    overflow-y: scroll;
    overflow-x: hidden;

    margin-bottom: 4em;
}

.game-list {
    margin-top: 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2em;
    /* max-width: 1000px; */
}

@media screen and (max-width: 1700px) {
    .game-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 860px) {
    .game-list {
        grid-template-columns: 1fr;
    }
}

pfe-card {
    opacity: 0;
    width: 400px;
    box-sizing: border-box;
}

body:not([unresolved]):not([unauthenticated]) pfe-card {
    position: relative;
    animation-name: slidein;
    animation-delay: var(--card-anim-delay, 0);
    animation-duration: 0.618s;
    /* animation-timing-function: cubic-bezier(.64,.02,.94,.48); */
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes slidein {
    from {
        opacity: 0;
        top: var(--card-anim-y);
        left: var(--card-anim-x);
    }

    to {
        opacity: 1;
        top: 0;
        left: 0;
    }
}



#username {
    font-weight: bold;
}
pfe-card > figure {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0.8em;
    border-left: 2px solid grey;
}
pfe-card > figure blockquote  {
    margin-left: 0;
    margin-right: 0;
}
pfe-card > figure figcaption  {
    position: relative;
    font-style: italic;
}
pfe-card > figure figcaption:before  {
    content: "— ";
}
.prize-eligible {
    font-size: 0.9em;
    font-weight: bold;
    --pfe-icon--Color: #f9d000;
    color: #00a8fc;
    text-decoration: underline;
    margin-bottom: 2em;
}
.prize-eligible span,
.prize-eligible pfe-icon {
    cursor: pointer;
}

